body {
    margin: 0;
    font-family: sans-serif;
}

#app {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 3rem;
    justify-items: top;
    margin: 5rem;
}

#upload {
    display: grid;
    align-content: start;
}

#upload label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#upload input {
    margin-bottom: 3rem;
}

#preview ul {
    margin: 0;
}
