body {
    margin: 0;
    font-family: sans-serif;
}

#app {
    display: grid;
    gap: 3rem;
    place-content: center;
    min-height: 100vh;
}

#upload {
}

#upload label {
    display: block;
    border-radius: 1rem;
    padding: 5rem;
    font-size: 1.75rem;
    color: white;
    background: royalblue;
    cursor: pointer;
}

#upload label:hover {
    opacity: 0.9;
}

#upload input {
    display: none;
}
